{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
  		<P><h2>Hostel Allotment</h2></P>
  		<p><h5>Choose the place where you will stay end of the college</h5></p>
  		<p><a class="btn btn-primary btn-md" href="/login">Login</a></p>
  		<p><h4>Steps:</h4></p>
  		<p>&nbsp;&nbsp;&nbsp;&nbsp;1.Login with your roll number and webmail password</p>
  		<p>&nbsp;&nbsp;&nbsp;&nbsp;2.Choose you roommate and send him a request</p>
  		<p>&nbsp;&nbsp;&nbsp;&nbsp;3.Select your hostel prefrence and save it</p>

	</div>

{% endblock content %}